* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

h1.dancing,
h2.dancing,
h3.dancing,
h4.dancing,
h5.dancing,
h6.dancing {
  font-family: "Dancing Script", cursive;
}

p {
  font-size: 18px;
  line-height: 36px;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

body {
  min-height: 100vh;
}

/* Container */
.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0px 30px;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: white;
  background-color: transparant;
}

header .introduction-spacer {
  width: 100%;
  height: 270px;
  padding: 10px 0px;
}

header .introduction-spacer .introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

header .introduction-spacer .introduction .options {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

header .introduction-spacer .introduction .options ul {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
}

header .introduction-spacer .introduction .options:last-child ul {
  justify-content: end;
}

header .introduction-spacer .introduction .options ul li {
  position: relative;
  display: flex;
  margin-left: 40px;
}

header .introduction-spacer .introduction .options ul li i {
  margin-right: 5px;
}

header .introduction-spacer .introduction .options ul li:first-child {
  margin-left: 0px;
}

header .introduction-spacer .introduction .options ul li::before {
  content: "•";
  position: absolute;
  left: -23px;
  top: 9px;
}

header .introduction-spacer .introduction .options ul li.icon::before {
  top: 0px;
}

header .introduction-spacer .introduction .options ul li:first-child::before {
  content: "";
  display: none;
}

header .introduction-spacer .introduction .options ul li a,
header .introduction-spacer .introduction .options ul li p {
  display: inline-block;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
}

header .introduction-spacer .introduction .options ul li a:hover,
header .introduction-spacer .introduction .options ul li p:hover {
  text-decoration: underline;
}

header .introduction-spacer .introduction .logo {
  display: flex;
  width: 250px;
}

header nav {
  position: relative;
  width: 100%;
  height: 65px;
  border-top: 1px solid rgba(161, 161, 161, 0.3);
  border-bottom: 1px solid rgba(161, 161, 161, 0.3);
  overflow: hidden;
}

header nav.sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: black;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

header nav .logo {
  display: none;
}

header nav.sticky .logo {
  position: fixed;
  top: -100px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 250px;
  height: 250px;
  padding-bottom: 20px;
  background-color: black;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  border-radius: 50%;
}

header nav.sticky .logo img {
  width: 125px;
  height: 125px;
}

header .hamburger {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

header nav ul {
  position: absolute;
  right: -800px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
  transition: right 2s;
}

header nav.sticky ul {
  position: unset;
}

header nav ul.appear {
  right: 0;
}

header nav ul li {
  position: relative;
  margin-left: 60px;
}

header nav ul li.hamburger {
  display: none;
}

header nav ul li:first-child {
  margin-left: 0px;
}

header nav ul li::before {
  content: "•";
  position: absolute;
  left: -33px;
  top: 1px;
}

header nav ul li:first-child::before {
  content: "";
  display: none;
}

header nav ul li a {
  color: rgb(170, 170, 170);
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header nav ul li a.active,
header nav ul li a:hover {
  color: white;
}

@media only screen and (max-width: 1200px) {
  header .introduction-spacer .introduction .options ul li a,
  header .introduction-spacer .introduction .options ul li p {
    font-size: 12px;
    letter-spacing: 1px;
  }

  header nav.sticky ul {
    justify-content: end;
  }
}

@media only screen and (max-width: 940px) {
  header .introduction-spacer .introduction {
    justify-content: center;
  }

  header .introduction-spacer .introduction .options {
    display: none;
  }

  header nav.sticky .logo {
    display: none;
  }

  header nav.sticky ul {
    justify-content: center;
  }
}

@media only screen and (max-width: 650px) {
  header nav ul {
    display: none;
  }

  header .hamburger {
    display: flex;
  }
}

/* Section */
section {
  padding: 125px 40px;
}

@media only screen and (max-width: 900px) {
  section {
    padding: 100px 30px;
  }
}

@media only screen and (max-width: 600px) {
  section {
    padding: 75px 20px;
  }
}

/* Landing */
.landing {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 100vh;
  background-image: url("../media/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

/* About */
.about-spacer {
  display: flex;
  width: 100%;
  height: auto;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.about .heading h3 {
  font-size: 80px;
  font-weight: bold;
  color: #c0392b;
  margin-bottom: 10px;
}

.about .heading .divider {
  position: relative;
  display: flex;
  justify-content: center;
}

.about .heading .divider hr {
  position: relative;
  width: 350px;
  height: 3px;
  border: 0;
  margin-bottom: 15px;
  background-color: #e74c3c;
  border-radius: 1000%;
  overflow: visible;
}

.about .heading .divider i {
  position: absolute;
  top: -11.5px;
  color: #e74c3c;
  background-color: #fff;
  border: 2px solid #e74c3c;
  padding: 5px;
  border-radius: 100%;
}

.about .content {
  width: 100%;
  max-width: 700px;
  height: auto;
  text-align: center;
}

.about .content p {
  color: #7f8c8d;
  font-family: "Merriweather", serif;
}

/* Reservation */
.reservation-spacer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 300px;
  background-image: url("../media/salads.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.reservation {
}

/* Restaurants */
.restaurants-spacer {
  display: flex;
  width: 100%;
  height: auto;
  background-color: black;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurants .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.restaurants .heading h3 {
  font-size: 80px;
  font-weight: bold;
  color: #f1c40f;
  margin-bottom: 10px;
}

.restaurants .heading .divider {
  position: relative;
  display: flex;
  justify-content: center;
}

.restaurants .heading .divider hr {
  position: relative;
  width: 350px;
  height: 3px;
  border: 0;
  margin-bottom: 15px;
  background-color: #f1c40f;
  border-radius: 1000%;
  overflow: visible;
}

.restaurants .heading .divider i {
  position: absolute;
  top: -11.5px;
  color: #f1c40f;
  background-color: #000;
  border: 2px solid #f1c40f;
  padding: 5px;
  border-radius: 100%;
}

.restaurants .content {
  width: 100%;
  max-width: 700px;
  height: auto;
  text-align: center;
}

.restaurants .content p {
  color: #ecf0f1;
  font-family: "Merriweather", serif;
}

.restaurants .locations {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  width: 100%;
  height: auto;
  margin-top: 75px;
}

.restaurants .locations .location {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
}

.restaurants .locations .location img {
  width: 100%;
  height: 250px;
  margin-bottom: 15px;
}

.restaurants .locations .location h5 {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

/* Menu */
.menu-spacer {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 0px;
}

.menu {
  display: flex;
  width: 100%;
  height: 100%;
}

.menu .image {
  width: 100%;
  height: 100%;
  background-image: url("../media/salads.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.menu .image img {
  width: 100%;
  height: 100%;
}

.menu .content {
  display: flex;
  width: 100%;
  height: 100%;
}

/* Maps */
.maps-spacer {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0px;
}

.maps-spacer iframe {
  width: 100%;
  height: 300px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 15px 0px;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  background-color: black;
}

footer h6 {
  font-size: 12px;
  color: #aaaaaa;
  font-family: "Raleway", sans-serif;
}
