:root {
  --white: #fff;
  --black: #000;
  --red: #c0392b;
  --yellow: #f1c40f;
  --green: #27ae60;
  --grayOnWhite: #7f8c8d;
  --grayOnBlack: #ecf0f1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
  transition: 0.5s;
}

h1.dancing,
h2.dancing,
h3.dancing,
h4.dancing,
h5.dancing,
h6.dancing {
  font-family: "Dancing Script", cursive;
}

p {
  font-size: 18px;
  line-height: 36px;
  transition: 0.5s;
}

@media only screen and (max-width: 900px) {
  p {
    font-size: 17px;
    line-height: 34px;
  }
}

@media only screen and (max-width: 650px) {
  p {
    font-size: 16px;
    line-height: 32px;
  }
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

body {
  min-height: 100vh;
}

/* Container */
.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: white;
  background-color: transparant;
}

header .introduction-spacer {
  width: 100%;
  height: 270px;
  padding: 10px 20px;
}

header .introduction-spacer .introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

header .introduction-spacer .introduction .options {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

header .introduction-spacer .introduction .options ul {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
}

header .introduction-spacer .introduction .options:last-child ul {
  justify-content: end;
}

header .introduction-spacer .introduction .options ul li {
  position: relative;
  display: flex;
  margin-left: 40px;
}

header .introduction-spacer .introduction .options ul li i {
  margin-right: 5px;
}

header .introduction-spacer .introduction .options ul li:first-child {
  margin-left: 0px;
}

header .introduction-spacer .introduction .options ul li::before {
  content: "•";
  position: absolute;
  left: -23px;
  top: 9px;
}

header .introduction-spacer .introduction .options ul li.icon::before {
  top: 0px;
}

header .introduction-spacer .introduction .options ul li:first-child::before {
  content: "";
  display: none;
}

header .introduction-spacer .introduction .options ul li a,
header .introduction-spacer .introduction .options ul li p {
  display: inline-block;
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
}

header .introduction-spacer .introduction .options ul li a:hover,
header .introduction-spacer .introduction .options ul li p:hover {
  text-decoration: underline;
}

header .introduction-spacer .introduction .logo {
  display: flex;
  width: 250px;
}

header nav {
  position: relative;
  width: 100%;
  height: 65px;
  border-top: 1px solid rgba(161, 161, 161, 0.3);
  border-bottom: 1px solid rgba(161, 161, 161, 0.3);
  overflow: hidden;
}

header nav.sticky {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: black;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

header nav.sticky .logo img {
  width: 125px;
  height: 125px;
}

header .hamburger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
  color: var(--white);
  transition: 0.5s;
}

header .hamburger:hover {
  color: var(--grayOnWhite);
}

header .hamburger i {
  margin-bottom: 5px;
}

header .hamburger p {
  font-size: 12px;
  line-height: 12px;
  transition: 0s;
}

header nav ul.default-menu {
  position: absolute;
  right: -800px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
  transition: right 2s;
}

header nav.sticky ul.default-menu {
  position: unset;
}

header nav ul.default-menu.appear {
  right: 0;
}

header nav ul.default-menu li {
  position: relative;
  margin-left: 60px;
}

header nav ul.default-menu li:first-child {
  margin-left: 0px;
}

header nav ul.default-menu li::before {
  content: "•";
  position: absolute;
  left: -33px;
  top: 1px;
}

header nav ul.default-menu li:first-child::before {
  content: "";
  display: none;
}

header nav ul.default-menu li a {
  color: #cecece;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header nav ul.default-menu li a.active,
header nav ul.default-menu li a:hover {
  color: white;
}

header nav .hamburger-overlay {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: 0.5s;
}

header nav .hamburger-overlay .hamburger-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  max-width: 400px;
  height: auto;
  list-style-type: none;
}

header nav .hamburger-overlay .hamburger-menu li {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

header nav .hamburger-overlay .hamburger-menu li a,
header nav .hamburger-overlay .hamburger-menu li i {
  color: #cecece;
  font-size: 28px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 8px;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  header .introduction-spacer .introduction .options ul li a,
  header .introduction-spacer .introduction .options ul li p {
    font-size: 12px;
    letter-spacing: 1px;
  }
}

@media only screen and (max-width: 940px) {
  header .introduction-spacer .introduction {
    justify-content: center;
  }

  header .introduction-spacer .introduction .options {
    display: none;
  }

  header nav.sticky ul.default-menu {
    justify-content: center;
  }
}

@media only screen and (max-width: 800px) {
  header nav ul.default-menu {
    display: none;
  }

  header .hamburger {
    display: flex;
  }
}

/* Section */
section {
  padding: 125px 40px;
}

@media only screen and (max-width: 900px) {
  section {
    padding: 100px 30px;
  }
}

@media only screen and (max-width: 600px) {
  section {
    padding: 75px 20px;
  }

  header nav .hamburger-overlay .hamburger-menu li {
    margin-bottom: 15px;
  }

  header nav .hamburger-overlay .hamburger-menu li a {
    font-size: 20px;
    letter-spacing: 1px;
  }
}

/* Landing */
.landing {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 100vh;
  background-image: url("../media/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  padding-bottom: 80px !important;
}

.landing .scroll {
  position: relative;
}

.landing .scroll:hover a span {
  border-color: var(--grayOnWhite);
}

.landing .scroll:hover a span::before {
  background-color: var(--grayOnWhite);
}

.landing .scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 2px solid var(--white);
  border-radius: 50px;
  box-sizing: border-box;
  transition: 0.5s;
}

.landing .scroll a span::before {
  position: absolute;
  top: 10px;
  left: 50%;
  content: "";
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--white);
  border-radius: 100%;
  -webkit-animation: sdb10 2s infinite;
  animation: sdb10 2s infinite;
  box-sizing: border-box;
}

@-webkit-keyframes sdb10 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* About */
.about-spacer {
  display: flex;
  width: 100%;
  height: auto;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.about .heading h3 {
  margin-bottom: 10px;
  font-size: 80px;
  font-weight: bold;
  color: var(--red);
  text-align: center;
}

.about .heading .divider {
  position: relative;
  display: flex;
  justify-content: center;
}

.about .heading .divider hr {
  position: relative;
  width: 325px;
  height: 3px;
  border: 0;
  margin-bottom: 15px;
  background-color: var(--red);
  border-radius: 1000%;
  overflow: visible;
}

.about .heading .divider i {
  position: absolute;
  top: -11.5px;
  color: var(--red);
  background-color: var(--white);
  border: 2px solid var(--red);
  padding: 5px;
  border-radius: 100%;
}

.about .content {
  width: 100%;
  max-width: 700px;
  height: auto;
  text-align: center;
}

.about .content p {
  color: var(--grayOnWhite);
  font-family: "Merriweather", serif;
}

@media only screen and (max-width: 900px) {
  .about .heading h3 {
    font-size: 65px;
  }
}

@media only screen and (max-width: 650px) {
  .about .heading h3 {
    font-size: 50px;
  }
}

/* Reservation */
.reservation-spacer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 300px;
  background-image: url("../media/salads.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
}

.reservation-spacer .container {
  max-width: 900px;
}

.reservation {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.reservation h3 {
  font-size: 48px;
  color: var(--white);
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
}

.reservation p {
  width: 100%;
  max-width: 700px;
  font-size: 16px;
  line-height: 22px;
  color: var(--white);
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  margin-bottom: 30px;
}

.reservation form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  row-gap: 20px;
  width: 100%;
  height: auto;
}

.reservation form .input-container {
  display: flex;
  flex-direction: column;
  width: 245px;
}

.reservation form .input-container label {
  min-height: 16.5px;
  font-size: 14px;
  color: var(--white);
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  margin-bottom: 5px;
  padding-left: 12px;
}

.reservation form .input-container input,
.reservation form .input-container select {
  width: 100%;
  height: auto;
  padding: 7px 12px;
  border: none;
}

.reservation form .input-container button {
  background-color: var(--yellow);
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 7px 12px;
  cursor: pointer;
  transition: 0.5s;
}

.reservation form .input-container button:hover {
  background-color: var(--white);
}

.reservation .reservation-message {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 130px;
  border: 3px solid rgba(161, 161, 161, 0.3);
  padding: 30px;
}

.reservation .reservation-message p {
  width: 100%;
  height: auto;
  text-align: center;
  font-size: 22px;
  color: var(--white);
  font-weight: 700;
  font-family: "Open sans", sans-serif;
  margin-bottom: 0px;
}

@media only screen and (max-width: 900px) {
  .reservation h3 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 650px) {
  .reservation h3 {
    font-size: 32px;
  }

  .reservation form .input-container {
    width: 100%;
  }

  .reservation .reservation-message {
    border: 2px solid rgba(161, 161, 161, 0.3);
    padding: 15px;
  }

  .reservation .reservation-message p {
    font-size: 18px;
  }
}

/* Restaurants */
.restaurants-spacer {
  display: flex;
  width: 100%;
  height: auto;
  background-color: black;
}

.restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restaurants .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.restaurants .heading h3 {
  margin-bottom: 10px;
  font-size: 80px;
  font-weight: bold;
  color: var(--yellow);
  text-align: center;
}

.restaurants .heading .divider {
  position: relative;
  display: flex;
  justify-content: center;
}

.restaurants .heading .divider hr {
  position: relative;
  width: 325px;
  height: 3px;
  border: 0;
  margin-bottom: 15px;
  background-color: var(--yellow);
  border-radius: 1000%;
  overflow: visible;
}

.restaurants .heading .divider i {
  position: absolute;
  top: -11.5px;
  color: var(--yellow);
  background-color: var(--black);
  border: 2px solid var(--yellow);
  padding: 5px;
  border-radius: 100%;
}

.restaurants .content {
  width: 100%;
  max-width: 700px;
  height: auto;
  text-align: center;
}

.restaurants .content p {
  color: var(--grayOnBlack);
  font-family: "Merriweather", serif;
}

.restaurants .locations {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  width: 100%;
  height: auto;
  margin-top: 75px;
}

.restaurants .locations .location {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 250px;
  border: 3px solid var(--yellow);
}

.restaurants .locations .location:first-child {
  border: 3px solid var(--red);
}
.restaurants .locations .location:last-child {
  border: 3px solid var(--green);
}

.restaurants .locations .location img {
  display: block;
  width: 100%;
  height: 100%;
}

.restaurants .locations .location .overlay-spacer {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(22 0 0 / 80%);
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.restaurants .locations .location .overlay-spacer:hover {
  opacity: 1;
}

.restaurants .locations .location .overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  border: 1px solid white;
}

.restaurants .locations .location .overlay h4 {
  font-size: 16px;
  color: var(--white);
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  margin-bottom: 10px;
}

.restaurants .locations .location .overlay h5 {
  font-size: 22px;
  color: var(--white);
  font-weight: 700;
  font-family: "Raleway", sans-serif;
}

@media only screen and (max-width: 1200px) {
  .restaurants .locations {
    flex-direction: column;
    align-items: center;
    row-gap: 50px;
  }

  .restaurants .locations .location {
    max-width: 600px;
    height: auto;
  }
}

@media only screen and (max-width: 900px) {
  .restaurants .heading h3 {
    font-size: 65px;
  }
}

@media only screen and (max-width: 650px) {
  .restaurants .heading h3 {
    font-size: 50px;
  }
}

/* Menu */
.menu-spacer {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0px;
}

.menu {
  display: flex;
  width: 100%;
  height: 100%;
}

.menu .image {
  width: 40%;
  height: auto;
  background-image: url("../media/menu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.menu .menu-details {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  padding: 60px 40px;
}

.menu .menu-details .heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.menu .menu-details .heading h4 {
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: bold;
  color: var(--red);
  text-align: center;
}

.menu .menu-details .heading .divider {
  position: relative;
  display: flex;
  justify-content: center;
}

.menu .menu-details .heading .divider hr {
  position: relative;
  width: 325px;
  height: 3px;
  border: 0;
  margin-bottom: 15px;
  background-color: var(--red);
  border-radius: 100%;
  overflow: visible;
}

.menu .menu-details .heading .divider i {
  position: absolute;
  top: -11.5px;
  color: var(--red);
  background-color: var(--white);
  border: 2px solid var(--red);
  padding: 5px;
  border-radius: 100%;
}

.menu .menu-details .heading .divider i::before {
  position: relative;
  left: -0.5px;
}

.menu .menu-details .heading.yellow h4 {
  color: var(--yellow);
}

.menu .menu-details .heading.yellow i {
  color: var(--yellow);
  border: 2px solid var(--yellow);
}

.menu .menu-details .heading.yellow hr {
  color: var(--yellow);
  background-color: var(--yellow);
}

.menu .menu-details .heading.green h4 {
  color: var(--green);
}

.menu .menu-details .heading.green i {
  color: var(--green);
  border: 2px solid var(--green);
}

.menu .menu-details .heading.green hr {
  color: var(--green);
  background-color: var(--green);
}

.menu .menu-details .content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.menu .menu-details .content .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47%;
  height: auto;
  margin-bottom: 30px;
  padding: 0px 10px;
}

.menu .menu-details .content .menu-item .details {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: auto;
}

.menu .menu-details .content .menu-item .details .title {
  font-size: 18px;
  color: var(--black);
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  line-height: 18px;
}

.menu .menu-details .content .menu-item .details .description {
  font-size: 14px;
  color: var(--grayOnWhite);
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.menu .menu-details .content .menu-item .price {
  display: flex;
  justify-content: end;
  align-items: start;
  width: 30%;
  height: 100%;
}

.menu .menu-details .content .menu-item .price p {
  font-size: 16px;
  color: var(--black);
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  line-height: 18px;
}

@media only screen and (max-width: 1200px) {
  .menu .image {
    width: 20%;
  }

  .menu .menu-details {
    width: 80%;
  }
}

@media only screen and (max-width: 940px) {
  .menu .menu-details {
    padding: 60px 20px;
  }

  .menu .content .heading h3 {
    font-size: 50px;
  }

  .menu .menu-details .content {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: auto;
  }

  .menu .menu-details .content .menu-item {
    max-width: 350px;
    width: 100%;
    margin-bottom: 20px;
    padding: 0px;
  }
}

@media only screen and (max-width: 650px) {
  .menu .image {
    width: 10%;
  }

  .menu .menu-details {
    width: 90%;
  }

  .menu .content .heading h3 {
    font-size: 40px;
  }
}

/* Maps */
.maps-spacer {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0px;
}

.maps-spacer iframe {
  width: 100%;
  height: 300px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  padding: 15px 0px;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  background-color: black;
}

footer h6 {
  font-size: 12px;
  color: var(--grayOnBlack);
  font-family: "Raleway", sans-serif;
}
