* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

/* TEMPORARY */
body {
  min-height: 200vh;
}

/* Container */
.container {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: auto;
  padding: 0px 30px;
}

/* Header */
header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  color: white;
  background-color: transparant;
}

header .introduction-spacer {
  width: 100%;
  height: 270px;
  padding: 10px 0px;
}

header .introduction-spacer .introduction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}

header .introduction-spacer .introduction .options {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

header .introduction-spacer .introduction .options ul {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
}

header .introduction-spacer .introduction .options:last-child ul {
  justify-content: end;
}

header .introduction-spacer .introduction .options ul li {
  position: relative;
  margin-left: 40px;
}

header .introduction-spacer .introduction .options ul li:first-child {
  margin-left: 0px;
}

header .introduction-spacer .introduction .options ul li::before {
  content: "•";
  position: absolute;
  left: -23px;
  top: 1px;
}

header .introduction-spacer .introduction .options ul li:first-child::before {
  content: "";
  display: none;
}

header .introduction-spacer .introduction .options ul li a {
  color: white;
  font-size: 14px;
  letter-spacing: 2px;
}

header .introduction-spacer .introduction .options ul li a:hover {
  text-decoration: underline;
}

header .introduction-spacer .introduction .logo {
  display: flex;
  width: 250px;
}

header nav {
  position: relative;
  width: 100%;
  height: 65px;
  border-top: 1px solid rgba(161, 161, 161, 0.3);
  border-bottom: 1px solid rgba(161, 161, 161, 0.3);
  overflow: hidden;
}

header nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
}

header nav .logo {
  display: none;
}

header nav.sticky .logo {
  position: fixed;
  top: -100px;
  left: 50px;
  display: flex;
  justify-content: center;
  align-items: end;
  width: 250px;
  height: 250px;
  padding-bottom: 20px;
  background-color: black;
  -webkit-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  -moz-box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
  border-radius: 50%;
}

header nav.sticky .logo img {
  width: 125px;
  height: 125px;
}

header .hamburger {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

header nav ul {
  position: absolute;
  right: -800px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
  transition: right 2s;
}

header nav.sticky ul {
  position: unset;
}

header nav ul.appear {
  right: 0;
}

header nav ul li {
  position: relative;
  margin-left: 60px;
}

header nav ul li.hamburger {
  display: none;
}

header nav ul li:first-child {
  margin-left: 0px;
}

header nav ul li::before {
  content: "•";
  position: absolute;
  left: -33px;
  top: 1px;
}

header nav ul li:first-child::before {
  content: "";
  display: none;
}

header nav ul li a {
  color: rgb(170, 170, 170);
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header nav ul li a.active,
header nav ul li a:hover {
  color: white;
}

@media only screen and (max-width: 1200px) {
  header .introduction-spacer .introduction .options ul li a {
    font-size: 12px;
    letter-spacing: 1px;
  }

  header nav.sticky ul {
    justify-content: end;
  }
}

@media only screen and (max-width: 940px) {
  header .introduction-spacer .introduction {
    justify-content: center;
  }

  header .introduction-spacer .introduction .options {
    display: none;
  }

  header nav.sticky .logo {
    display: none;
  }

  header nav.sticky ul {
    justify-content: center;
  }
}

@media only screen and (max-width: 650px) {
  header nav ul {
    display: none;
  }

  header .hamburger {
    display: flex;
  }
}

/* Landing */
.landing {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  min-height: 100vh;
  background-image: url("../media/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}
